@use "../../partials/variables" as *;
@use "../../partials/animations" as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 18.75rem;
  }

  &__search-container {
    display: flex; 
    align-items: center;
    border: 1px solid #bfbfbf;
    border-radius: 30px;
    width: 37rem;
    height: 3rem;
    padding-left: 1.25rem;
  }

  &__search-icon {
    width: 1.25rem;
    margin-right: 1rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-right: .25rem;
    white-space: nowrap;
    overflow: hidden;
    width: 15.625rem;
    animation: text-reveal .75s linear;
  }

  &__blinking-cursor {
    width: .75rem;
    height: 1.5rem;
    animation: blink 1s infinite;
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    height: 3rem;
    padding: .75rem 1rem;
    margin-right: 1.25rem;
    background-color: #F8F9FA;
    border: none;
    font-family: Roboto;
    font-size: 0.875rem;
  }
}