@use "../partials/variables" as *;
@use "../partials/animations" as *;
@use "../partials/mixins" as *;

.work-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43.5rem;
  width: 100%;
  flex-direction: column;

  &__title-container {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: $black;
    font-weight: 400;
    font-size: 3.75rem;
    width: 38.25rem;
    text-align: center;

    &--green {
      color: $google-green;
    }

    &--red {
      color: $google-red;
    }
  }

  &__arrow-container {
    display: flex;
    justify-content: center;
    animation: drop-reveal .75s ease-out;
  }
}

// WORK SECTION

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39.5rem;
  width: 100%;
  flex-direction: column;

  &__projects-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}