@use "../partials/variables" as *;
@use "../partials/animations" as *;
@use "../partials/mixins" as *;

.work-header {
  @include flex-center;
  height: 43.5rem;
  width: 100%;
  flex-direction: column;
  padding: 0 2rem;

  &__title-container {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: $black;
    font-weight: 400;
    font-size: 3.75rem;
    width: 100%;
    max-width: 38.25rem;
    text-align: center;

    @include tablet {
      font-size: 2.75rem;
      max-width: 24rem;
    }

    &--green {
      color: $google-green;
    }

    &--red {
      color: $google-red;
    }

    &--yellow {
      color: $google-yellow;
    }
  }

  &__arrow-container {
    display: flex;
    justify-content: center;
    animation: drop-reveal .75s ease-out;
  }
}

// WORK SECTION

.work {
  @include flex-center;
  width: 100%;
  flex-direction: column;

  &__projects-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
}