@keyframes blink {
  0%, 100% {
    background-color: transparent;
  } 
  50% {
    background-color: lightgrey;
  }
}

@keyframes text-reveal {
  0% {
    width: 0rem;
  }
  100% {
    width: 15.625rem;
  }
}
