// Home Page
@keyframes blink {
  0%, 100% {
    background-color: transparent;
  } 
  50% {
    background-color: lightgrey;
  }
}

@keyframes text-reveal {
  0% {
    width: 0rem;
  }
  100% {
    width: 15.625rem;
  }
}

// About Page
@keyframes header-reveal {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
