@use "../../partials/variables" as *;

.nav {
  display: flex;
  height: 5.25rem;
  justify-content: space-around;
  align-items: center;

  &__left-container {

  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $black;
    margin: 1rem;
  }
}