@use "../../partials/variables" as *;

.nav {
  position: fixed;
  display: flex;
  height: 5.25rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;

  & > * {
    width: 100%;
  }

  &__left-container {

  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $black;
    margin: 1rem;
    font-family: Roboto;
  }
}